*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: rgb(0, 26, 255);
  width: 100%;
  height: 50px;
}

input{
  width: 100%;
  height: 30px;
  background-color: aqua;
}

input::placeholder {
  color: black;
}

.contenedor_main{
  border: 3px solid rgb(30, 255, 0);
  height: 500px;
  width: 100%;
}

h1{
  color: white;
}

/* body{
  background-color: black;
} */

.contenedor_card{
  border: 1px solid black;

}

.contenedor_cards{
  display: flex;
  flex-wrap: wrap;
  border: 3px solid blue;
  justify-content: center;
}

.contenedor_card p{
  text-align: center;
}

.contenedor_main ul{
  list-style-type: none;
}